@import "tailwindcss";

@theme {
  --color-primary: #2d1c7f;
  --color-primary-light: #3d2c9f;
  --color-bg-main: #c8b3f6;
  --color-text-dark: #1a1a2e;
  --color-text-muted: #6b6b80;
  --color-white: #ffffff;
}